{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits",
        "releaseRules": [
          {
            "breaking": true,
            "release": "major"
          },
          {
            "revert": true,
            "release": "patch"
          },
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "chore",
            "release": "patch"
          },
          {
            "type": "ci",
            "release": false
          },
          {
            "type": "docs",
            "release": "patch"
          },
          {
            "type": "deps",
            "release": "patch"
          },
          {
            "type": "refactor",
            "release": "patch"
          },
          {
            "type": "style",
            "release": "patch"
          },
          {
            "type": "test",
            "release": "patch"
          },
          {
            "scope": "no-release",
            "release": false
          }
        ]
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {
              "type": "breaking",
              "section": "Major Features"
            },
            {
              "type": "revert",
              "section": "Revert Changes"
            },
            {
              "type": "feat",
              "section": "Features"
            },
            {
              "type": "fix",
              "section": "Bug Fixes"
            },
            {
              "type": "chore",
              "section": "Trivial Changes"
            },
            {
              "type": "ci",
              "section": "CI/CD"
            },
            {
              "type": "docs",
              "section": "Documentation"
            },
            {
              "type": "deps",
              "section": "Dependencies"
            },
            {
              "type": "refactor",
              "section": "Refactoring"
            },
            {
              "type": "style",
              "section": "Code formating"
            },
            {
              "type": "test",
              "section": "Tests"
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": false,
        "tarballDir": "lib"
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
